.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f4f6f8;
 }
 .main-container{
    -fx-padding: 30;
 }
 /* top */
 .top-bar{
    -fx-padding: 10 30 10 30;
    -fx-background-color: #FBC260;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
 }
 /* usuario actual */
 .user-label{
    -fx-font-weight: bold;
 }
 /* tarjetas sesiones listas, tarea, subtareas */
 .card {
     -fx-background-color: white;
     -fx-background-radius: 12;
     -fx-padding: 15;
     -fx-border-radius: 12;
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0, 0, 4);
 }
.section-title{
     -fx-font-size: 18px;
     -fx-font-weight: bold;
}
/* Títulos */
 .label.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
 }
 /* Listas y tablas */
 .list-view, .table-view {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-border-color: #E5E7EB;
 }
 /* columnas de Tablas */
 .table-view .column-header {
    -fx-background-color: #EEF2FF;
    -fx-font-weight: bold;
 }
 .table-column{
    -fx-alignment: CENTER_LEFT;
 }
 /*si una descripción es larga*/
 .table-cell{
    -fx-wrap-text: true;
 }
 /* Botones */
 .button {
    -fx-background-color: #4DA3FF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 14;
 }
 .button:hover {
    -fx-background-color: #6BB7FF ;
 }
 /* prioridades */
 .priority-URGENTE {
    -fx-text-fill: #dc2626;
    -fx-font-weight: bold;
 }
 .priority-HIGH {
     -fx-text-fill: #ea580c;
 }
 .priority-MEDIUM {
     -fx-text-fill: #ca8a04;
 }
 .priority-LOW {
     -fx-text-fill: #16a34a;
 }